<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="newotp">
        <div class="checkotp">
            <form action="/checkotp">
            <input type="password" name="otp" id="otp">
            <button type="submit">Submit</button>
            </form>
        </div>
        <h1><%= data %></h1>
    </section>
    <script>
        var otp = <%= data %>
        alert("otp is " + otp)
    </script>
</body>
</html>